h3{
color: blue;

}
.btn-cool
{
color: green;
transition: transform 0.5s ease-in-out; 
}
.btn-cool:hover
{
transform: scale(1.1) rotate(30deg); 
}
.btn-bruh
{
color: red;
backround-color: yellow;
border-color: black;
transition: transform 10s ease-in-out; 
}
.btn-bruh:hover{
transform: scale(2) rotate(100000deg);
}
img
{
transition: transform 0.5s ease-in-out; 

}
img:hover
{
transform: scale(1.04) rotate(360deg);
opacity: 0.9;
}

